# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
venv/
env/
instance/
.mypy_cache/
.pytest_cache/
*.egg-info/

# FastAPI/Backend
backend/pdfs
backend/extracted_texts/
chroma_db/
backend/__pycache__/
backend/texts
backend/*.pyc
backend/backend/pdfs/
backend/texts/
backend/backend/texts/


# VSCode
.vscode/

# OS files
Thumbs.db
.DS_Store

# Misc
*.bak
*.swp
*.swo
